/* slider */
.slider__wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 이미지 보이는 부분 */
.slider__img {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
}
/* 이미지 감싸고 있는 부모 : 움직이는 부분 */
.slider__inner {
    display: flex;
    flex-wrap: wrap;
    /* 총 이미지 6개 */
    width: 3600px;
    height: 400px;
}
/* 개별적인 이미지 */
.slider {
    position: relative;
    width: 600px;
    height: 400px;
}
.slider img{
    width: 100%;
}
.slider::before {
    position: absolute;
    left: 5px;
    top: 5px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 5px 10px;
}
.slider:nth-child(1)::before {content: '이미지1';}
.slider:nth-child(2)::before {content: '이미지2';}
.slider:nth-child(3)::before {content: '이미지3';}
.slider:nth-child(4)::before {content: '이미지4';}
.slider:nth-child(5)::before {content: '이미지5';}
.slider:nth-child(6)::before {content: '이미지1';}

@media (max-width: 800px) {
    .slider__img {
        width: 400px;
        height: 300px;
    }
}

.slider__btn a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 50px;
    transition: all 0.2s;
    display: block;
    color: #fff;
}
.slider__btn a:hover {
    border-radius: 50%;
    background: rgba(255,255,255,0.4);
    color:#000;
}
.slider__btn a.prev {
    left: 0;
}
.slider__btn a.next {
    right: 0;
}